h1{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
h4{
  color:white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10vw
}
*/

.contentBox{
  display: flex;
  padding-left: 20vw;
  padding-right: 20vw;
  height: 325vh;
  flex-direction: column;
  color: white;
}


body{
  background-color: black;
}
