@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');

h1{
  font-family: "Red Rose";
  color: #311F7A;
}

body{
  background-color: Gainsboro;
}

button{
  color: #311F7A;
  background-color: #92DCE7;
  border: none;
  border-radius: 5px;
}

button:hover{
  text-decoration: underline;
}

button:active{
  background-color: #311F7A;
  color: #92DCE7;
}
