*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: helvetica;
}

section{
  height: 100vh;
  width: 100%;
  background-color: #1B9AAA;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #F5F1E3;
  border-radius: 8px;
  margin-bottom: 20px;
}

.form-group{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

.form-group input,
.form-group textarea{
  width: 100%;
  padding: 5px;
  font-size: 18px;
}

textarea{
  resize: vertical;
}

button[type="submit"]{
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 20px;
  border-radius: 8px;
  font-family: helvetica;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}
