*{
  margin: 0;
  padding: 0;
  background-color: #1B9AAA;
}

section.sec1{
  text-decoration: none;
}

/* Menu header-------------------------------------------------------------------------- */
nav{
  width: 100%;
  height: 50px;
  background-color: #F5F1E3;
  position: sticky;
  top: 0;
}

nav ul{
  display: flex;
  margin: 0;
  padding: 0 100px;
  float: left;
  background-color: #F5F1E3;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  display: block;
  color: #154258;
  padding: 0 20px;
  text-decoration: none;
  font-family: helvetica;
  line-height: 50px;
  background-color: #F5F1E3;
  font-weight: bold;
}

nav ul li a:hover{
  background-color: #DDDBCB;
}
/* Name on website---------------------------------------------------------------------- */
h1{
  font-family: helvetica;
  font-size: 100px;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
}
/* Boxes showing project photos--------------------------------------------------------- */
.box1{
  width: 200px;
  height: 200px;
  background-color: #F5F1E3;
  border-radius: 20px;
  float: left;
  margin-left: 470px;
  margin-top: 20px;
}

.box2{
  width: 200px;
  height: 200px;
  background-color: #F5F1E3;
  border-radius: 20px;
  float: right;
  margin-right: 470px;
  margin-top: 20px;
}

.box3{
  width: 200px;
  height: 200px;
  background-color: #F5F1E3;
  border-radius: 20px;
  float: left;
  margin-left: 470px;
  margin-top: 20px;
}

.box4{
  width: 200px;
  height: 200px;
  background-color: #F5F1E3;
  border-radius: 20px;
  float: right;
  margin-right: 470px;
  margin-top: 20px;
}

.box1:hover{
  background-color: #DDDBCB;
}

.box2:hover{
  background-color: #DDDBCB;
}

.box3:hover{
    background: #DDDBCB;
}

.box4:hover{
  background-color: #DDDBCB;
}
/* Wave Animation (Bottom of screen)---------------------------------------------------- */
footer.waves{
  width: 100%;
  height: 50vh;
  /* background: #1B9AAA; */
  overflow: hidden;
  position: sticky;
}

footer .wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wave2.png);
  background-size: 1000px 100px;
}

footer .wave.wave1{
  animation: animate 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}

footer .wave.wave2{
  animation: animate2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}

footer .wave.wave3{
  animation: animate3 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}

footer .wave.wave4{
  animation: animate4 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}

@keyframes animate{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: 1000px;
  }
}

@keyframes animate2{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: -1000px;
  }
}

@keyframes animate3{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: -1000px;
  }
}

@keyframes animate4{
  0%{
    background-position-x: 0;
  }
  100%{
    background-position-x: -1000px;
  }
}
/* ------------------------------------------------------------------------------------- */
